body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding-top: 20px;
    min-height: 108px;
}
header img {
    display: block;
    margin: 0 0 20px 20px;
}
nav {
    background: #000;
}
nav ul {
    margin: 0;
    padding: 0 0 0 15px;
}
nav li {
    display: inline-block;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}
nav a:hover {
    text-decoration: underline;
}
main {
    overflow: hidden;
}
aside,
section {
    min-height: calc(100vh - 128px - 50px);
    padding: 20px;
}
aside {
    background: #ccc;
    float: right;
    width: 30%;
}
section {
    float: left;
    width: 70%;
}
.full-width {
    width: 100%;
}
.grid-item {
    width: 260px;
    min-height: 100px;
    margin-bottom: 20px;
}
.grid-item .title {
    font-size: 20px;
    padding: 20px 0;
}
footer {
    background: #000;
    color: #fff;
    padding: 20px;
    height: 50px;
}